div {
    white-space: pre;
    font-family: monospace;
  }

  .controls {
    text-align: right;
    background: lightyellow;
    display: flex;
  }

  .controls2 {
  text-align: left;
  background: lightyellow;
}

.session {
  margin: 0;
}